*{
    box-sizing: border-box;
   
}
body{

    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
[class*="col-"]{
    padding: 10px;
    float: left;
    width:100%;
}
h1{
    text-align: center;
    font-size: 2.7 em; 
}
h2{
    font-size: 1.5rem;
    text-align: center;
}
h3{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2 em; 
}

/* -----header design------- */
.header{
    background-color: #0a7680; 
    padding: 1% 7%;
    text-align: center;
  }
  .header .nav-logo img{
      width: 200px;
      height: auto;  
  }
  .header h1{
    font-family: 'Montserrat', sans-serif;
      color: white;
      margin: 0;
      padding: 10px;
  }
  .header .nav-menu {
  
      display: flex;
      flex-direction: column;
      text-transform:uppercase ;
  
  }
  .header .nav-menu a {
      margin: 7px 0;
      padding: 10px;
      background-color: #033d42;
      border-radius: 10px;
  
  }
  .header .nav-menu a:hover{

    background-color: gray;

}
  .header::after{
      clear: both;
      content: '';
      display: table;
  }

  /* profile start here */
  .profile{
      text-align: center;
      position: relative;
      padding: 170px 10px;
  }
.uplogo{
    width: 150px;
    margin-bottom: 10px;
    top: 45px;
    right: 60px;
    position: absolute;
    transition: 2s;
}

.profile-desc h1{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}
.profile-desc p{
    text-align: center;
    color: gray;
    margin: 0 auto 20px auto;
    padding: 1%;
    width: 85%;
}

.downlogo{
    width: 150px;
    margin-top: 15px;
    position: absolute;
    left: 50px;
    transition: 2s;
}.uplogo:hover,.downlogo:hover{
    transform: rotate(360deg);
}
/* About me section start */

.about-me{
    margin-top: 80px;
    text-align: center;
    padding: 1% 7%;
    color: white;
    background-color: #39a4ac;
    font-family: 'Montserrat', sans-serif;
}

.Sp-hr{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}
.about-me .div1{

}
.about-me-img img{
    border: 5px solid white;
    height: auto;
    width: 200px;
    border-radius: 50%;
}
.about-me p{
    text-align: center;
}
.about-me a{
    font-size: 1.2rem;
}
.about-me .button{
    background-color:#052d2f;
    border: none;
    color: white;
    border-radius: 12px;
    padding: 10px;
    font-size: 1rem;
    margin: 10px;
}
.about-me .button:hover{
    background-color:#b8bcbd;
    color: black;
    cursor: pointer;
}
.about-me::after{
    clear: both;
    content: '';
    display: table;
}
/* skill & education section start */
.skill{
    padding: 1%;
}
.educantional-card{
    padding: 1%;
}
.card{
    background-color: gray;
    box-shadow: 0px 3px 4px 0px black;
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
    height: 750px;
}
.card:hover{
    border-color: rgb(68, 66, 66);
    box-shadow: 2px 3px 4px 4px ;
}
.icon{
    text-align: center;
    padding: 10px;
}
.icon img{
    padding: 2px;
    text-align: center;
    width: 100px;
    border-radius:50% ;
    border: 2px solid white;
}
.card-name{
    padding: 5px;
    margin: 15px 2px 15px 2px;
    background-color: rgb(78, 74, 74);
    color: white;
}
.address-card{
    padding: 1%;
}
.icon-home{
    text-align: center;
    height: auto;
    padding: 10px;
}
.icon-home img{
    padding: 10px;
    width: 110px;
    height: 100px;
    padding: 2px;
    text-align: center; 
    border-radius:50% ;
    border: 2px solid white;
}
.icon-skill{
    text-align: center;
    height: auto;
    padding: 13px;
}
.icon-skill img{
    padding: 10px;
    width: 110px;
    height: 100px;
    text-align: center; 
    border-radius:50% ;
    border: 2px solid white;
}
.skill-container{
    padding-right: 45px;
}
.skill-container li{
    list-style: none;
    font-weight: bold;
    margin: 30px 10px;
    text-transform: capitalize;
    position: relative;
}
.skill-container li::before{
    content: '';
    position: absolute;
    background-color:rgb(86,86,153,.5) ;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 50px;
}
.skill-container li::after{
    content: '';
    position: absolute;
    background-color:rgb(94, 94, 206) ;
    top: calc(100% + 8px);
    left: 0;
    width:0;
    height: 10px;
    border-radius: 50px;

    animation-duration: 3s;
    animation-delay: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
}
.skill-container li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
        width: 90%;
    }
    
}
.skill-container li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 87%;
    }
    
}
.skill-container li.bootstrap::after{
    animation-name: boot;
}
@keyframes boot{
    to{
        width: 70%;
    }
    
}
.skill-container li.javascript::after{
    animation-name: javas;
}
@keyframes javas{
    to{
        width: 80%;
    }
    
}
.skill-container li.c::after{
    animation-name: c;
}
@keyframes c{
    to{
        width: 88%;
    }
}
.skill-container li.c+::after{
    animation-name: cp;
}
@keyframes cp{
    to{
        width: 77%;
    }
    
}
.skill-container li.node::after{
    animation-name: node;
}
@keyframes node{
    to{
        width: 60%;
    }
}
.skill-container li.react::after{
    animation-name: react;
}
@keyframes react{
    to{
        width: 67%;
    }
    
}
.skill::after{
    clear: both;
    display: table;
    content: '';
}
/* opinions and contact parts start here */

.opnions-contact{
    text-align: center;
    background-color: #39a4ac;
    padding: 1% 7%;
}
.opinions{
 
}
.opinions li{
    text-align: justify;
    padding: 10px;
    color: white;
}
.opnions-contact::after{
    clear: both;
    content: '';
    display: table;
}
.contact-me input,textarea{
    width: 100%;
    padding: 6px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    border: none;
    resize: none;
}
.contact-me button{
    border: none;
    width: 100px;
    border-radius: 20px;
    padding: 8px;
    margin: 10px;
    background-color: #052d2f;
    color: white;
    cursor: pointer;
}
.social-media{
    position: relative;
    text-align: center;

}
.social-media .btn{
    border: black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 32px;
    padding: 5px;
    width: 50px;
    height: 40px;
    margin: 10px;
    background-color: #fff;
    transition: .3s;
    text-align: center;
}
.social-media .btn i{
    margin-bottom: 5px;
}
.social-media .btn:hover{
    background-color: gray;
    width: 70px;
}
/* footer section start */
.footer{
    background-color: #000;
    padding: 10px;
    font-size: .8rem;
    text-align: center;
    color: white;
}
.footer-menu a{
    display: inline;
    padding: 20px;
    font-size: 1rem;
}
.footer-menu a:hover{
    color: gray;
}
.footer-desc{
    margin-top: 50px;
}
.footer::after{
    clear: both;
    display: table;
    content: '';
}
/* End the project */